.date {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 80px;
}
.dateItem {
  display: flex;
  flex-direction: column;

  text-align: center;
}
.aboutText {
  color: #353a5a;
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  width: 270px;
  height: 34px;
  /* or 17px */

  text-align: center;
}
.aboutNum {
  font-weight: 500;
  font-size: 58px;
  line-height: 100%;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #1740c7;
}
